{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver", 
      {
        "root": ["./"],
        "alias": {
          "@src": "./src",
          "@components": "./src/components",
          "@assets": "./src/assets",
          "@cTypes": "./src/types", // 'c' for custom
          "@screens": "./src/screens",
          "@utils": "./src/utils"
        }
      }
    ], 
    "react-native-reanimated/plugin"
  ]
}
// env: {
//   development: {
//     compact: false,
//   },
//   production: {
//     plugins: ["transform-remove-console"]
//   }
// },
