<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jajaka">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="${appIcon}"
      android:roundIcon="${appIcon}"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:host="api.berjajaka.com" android:scheme="http"/>
            <data android:host="api.berjajaka.com" android:scheme="https"/>
            <data android:host="berjajaka.com" android:scheme="http"/>
            <data android:host="berjajaka.com" android:scheme="https"/>
        </intent-filter>
      </activity>
      <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="AIzaSyAISOLSL-vWoY335UE0xd24dmm4n9jyE6g"/>
    </application>
</manifest>
